﻿/*
Theme Name: LAN Responsabilidad Social
Theme URI: http://meetliquid.com
Author: LIQUID
Author URI: http://meetliquid.com/
Description: LAN Customized Template
Version: 0.5
Tags: lan, lanperu, responsabilidad, social
Text Domain: lanperu

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/



/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size:100%;
    -webkit-font-smoothing: antialiased;
}

a {
    color: #00e;
}

a:visited {
    color: #551a8b;
}

a:hover {
    color: #06e;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}
video {
	max-width: 100%;
	height: auto;
}





/* ==========================================================================
   font styles
   ========================================================================== */
@font-face {
    font-family: 'BebasNeueRegular';
    src: url('fonts/BebasNeue-webfont.eot');
    src: url('fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/BebasNeue-webfont.woff') format('woff'),
         url('fonts/BebasNeue-webfont.ttf') format('truetype'),
         url('fonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'BebasNeueBold';
    src: url('fonts/bebas-neue-bold.eot');
    src: url('fonts/bebas-neue-bold.eot?#iefix') format('embedded-opentype'),
         url('fonts/bebas-neue-bold.woff') format('woff'),
         url('fonts/bebas-neue-bold.ttf') format('truetype'),
         url('fonts/bebas-neue-bold.svg#BebasNeueBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@media only screen and (max-width: 358px){
	.header .btnmenu{
		position: absolute;
		right: 52px !important;
		top: 26px;
		display: block;
	}
}
@media only screen and (max-width: 358px){
	.header .logolan {
		position: absolute;
		left: -4px !important !important;
		top: 20px;
		display: block;
	}
}

@media only screen and (min-width: 640px) {
body{
    background-color: #FFF;
    width: 100%;
}
.main{
	width: 100%;
}
.header{
    width: 100%; 
    height: 85px;
    background-color: #2B2E73;
}
.header .content{
    position: relative;
    width: 960px;
    margin: 0 auto;
    height: 85px;
}
.header .btnmenu{
	position: absolute;
	left: 955px;
	top: 26px;
	display: block;
}
.header .btnmenu .normal{
	position: absolute;
}
.header .btnmenu .over{
	display: none;
	position: absolute;
}
.header .logo{
	position: absolute;
	left: -31px;
	top: 26px;
	display: block;
}
.header .logolan{
	position: absolute;
	left: 771px;
	top: 20px;
	display: block;
}
.logolan > img{
	width: 181px;
    margin-top: -8px;
}
.breadcrumb{
	height: 32px;
	background-color: #c1c1c1;
	position: relative;
}
.breadcrumb .content{
    position: relative;
    width: 960px;
    margin: 0 auto;
    height: 85px;
    line-height: 32px;
    color: #666666;
    text-decoration: none;
}
.breadcrumb .content .backarrow{
	margin: 0 33px 0 10px;
}
.breadcrumb .content a{
	color: #666666;
	text-decoration: underline;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
}
.breadcrumb .content a:hover{
	text-decoration: none;
}
.breadcrumb .content span{
	color: #FFF;
	text-decoration: none;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
}
.clear{
	clear: both;
}
/*HOME*/
.page-home{
	width: 940px;
	margin: 0 auto;
}
.inicio{
	width: 100%;
	float: left;
}
.inicio .intro{
	background: url("img/bgtitulo-1.png") no-repeat left top;
	text-align: center;
	padding: 0;
	width: 100%;
	float: left;
}
.inicio h1{
	font-size: 60px;
	color: #003e7e;
	font-family: 'BebasNeueRegular';
	margin: 60px 0 30px 0;
	padding: 0;
	font-weight: lighter;
	line-height: 60px;
}
.inicio h2{
	font-size: 20px;
	color: #000;
	margin: 0 0 12px 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;
	color: #003e7e;
	line-height: 30px;
}
.inicio h3.desktop{
	font-family: 'Open Sans', sans-serif;
	color: #5f5f5f;
	font-size: 16px;
	font-weight: lighter;
	cursor: pointer;
}
.inicio h3.movil{
	display: none;
}
.inicio h3 img{
	margin-left: 10px;
}
.inicio h2 span{
	font-weight: 700;
}
.inicio .block2 ul{
	list-style: none;
	margin: 30px 0 0 0;
	padding: 0;
}
.inicio .block2 ul li{
	margin: 0;
	padding: 0;
	float: left;
	display: inline-block;
	*display: inline;
	width: 300px;
	height: 245px;
}
.inicio .block2 ul li a{
	display: block;
	position: relative;
	text-decoration: none;
}
.inicio .block2 ul li.central{
	margin: 0 20px;
}
.inicio .block2 ul li a .normal{
	position: absolute;
	z-index: 10;
	left: 0;
	top: 0;
}
.inicio .block2 ul li a .over{
	display: none;
	position: absolute;
	z-index: 50;
	left: 0;
	top: 0;
}
.inicio .block2 ul li a .titulo{
	position: absolute;
	left: 20px;
	top: 31px;
	font-size: 40px;
	font-family: 'BebasNeueBold';
	color: #FFF;
	line-height: 37px;
	z-index: 60;
}
.inicio .block2 ul li a .texto{
	position: absolute;
	left: 20px;
	top: 124px;
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	color: #FFF;
	z-index: 10;
	line-height: 21px;
}
.inicio .block2 ul li a .vermas{
	position: absolute;
	left: 20px;
	top: 208px;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	color: #FFF;
	z-index: 10;
}
.inicio .block2 ul li a .arrow{
	position: absolute;
	left: 20px;
	top: 208px;
	z-index: 60;
}
.categorias-movil{
	display: none;
}
.inicio .block3{
	width: 100%;
	float: left;
	height: 215px;
}
/*Footer*/
.footer{
	width: 100%;
	background-color: #003e7e;
	height: 50px;
}
.footer .content{
	width: 960px;
	margin: 0 auto;
	position: relative;
}
.footer .content .copy{
	position: absolute;
	left: 10px;
	top: 16px;
	font-size: 18px;
	color: #4b77a4;
	font-family: 'BebasNeueBold';
}
.footer .content .nav{
	list-style: none;
	margin-left: 205px;
	padding: 0;
	width: 100%;
}
.footer .content .nav li{
	display: inline-block;
	*display: inline;
	float: left;
	line-height: 50px;
}

.footer .trademark{
	display: inline-block;
    width: 100%;
    text-align: center;
    background-color: #003e7e;
    font-family: 'Open Sans', sans-serif;
    color: rgb(75, 119, 164);
    font-size: 12px;
    border-top: 1px solid rgba(75, 119, 164, 0.25)
}
.footer .content .nav li.central{
	margin: 0 35px;
}
.footer .content .nav li a{
	display: block;
	font-family: 'BebasNeueBold';
	font-size: 20px;
	color: #FFF;
	text-transform: uppercase;
	text-decoration: none;
}
.footer .content .nav li a:hover{
	color: #668bb2;
}
.footer .content .social{
	list-style: none;
	margin: 0;
	float: right;;
	padding: 0;
}
.footer .content .social li{
	display: inline-block;
	*display: inline;
	float: left;
	line-height: 50px;
}
.footer .content .social li.central{
	margin: 0 39px;
}
.footer .content .social li a{
	display: block;
	font-family: 'BebasNeueBold';
	font-size: 20px;
	color: #FFF;
	text-transform: uppercase;
	text-decoration: none;
	width: 22px;
	height: 22px;
	margin: 14px 0 0 0;
}
.footer .content .social li a.fb{
	background: url("img/fb.gif") no-repeat left top;
}
.footer .content .social li a.fb:hover{
	background: url("img/fb.gif") no-repeat left -22px;
}
.footer .content .social li a.yt{
	background: url("img/yt.gif") no-repeat left top;
}
.footer .content .social li a.yt:hover{
	background: url("img/yt.gif") no-repeat left -22px;
}
.footer .content .social li a.go{
	background: url("img/tw.gif") no-repeat left top;
}
.footer .content .social li a.go:hover{
	background: url("img/tw.gif") no-repeat left -22px;
}
/*iniciativas*/
.contenido{
	width: 1022px;
	margin: 50px auto 57px auto;
}
.contenido .header-block{
	display: block;
}
.orden-movil{
	display: none;
}
.contenido .header-block{
	margin: 50px 40px 34px 40px;
	position: relative;
	padding-bottom: 14px;
	border-bottom: solid 1px #eeeeee;
}
.contenido .header-block h1{
	font-size: 32px;
	color: #003e7e;
	font-family: 'BebasNeueBold';
	font-weight: lighter;
	margin: 0;
	padding: 0;
}
.contenido .header-block .orden{
	position: absolute;
	right: 0;
	top: -13px;
	line-height: 35px;
	font-size: 20px;
	color: #7c7c7c;
	text-transform: uppercase;
	font-family: 'BebasNeueBold';
	font-weight: lighter;
}
.contenido .header-block .orden a{
	display: inline-block;
	padding: 10px 16px;
	color: #848484;
	margin: 0 0 0 15px;
	text-decoration: none;
}
.contenido .header-block .orden a.selected{
	background-color: #eeeeee;
	color: #848484;
}
.contenido .header-block .orden a:hover{
	background-color: #eeeeee;
	color: #848484;
}
.contenido .casos{
	width: 960px;
	margin: 0 auto;
	padding-left: 20px;
}

.contenido .casos .item{
	display: inline-block;
	*display: *inline;
	float: left;
	position: relative;
	width: 300px;
	margin: 0 20px 20px 0;
}
.arrows-movil{
	display: none;
}
.contenido .arrows{
	display: block;
}
.img-zoom {
    width: 300px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    opacity: 1;
}
 
.transition {
	opacity: .75;
    -webkit-transform: scale(1.1); 
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}
.contenido .casos .item .info{
	width: 100%;
	background-color: #f0f9fd;
	float: left;
	min-height: 147px;
}

.casos .item a{
		display: block;
		width: 300px;
		height: 159px;
		overflow: hidden;
	}

@media only screen and (min-width: 640px){
	.casos .item a{
		height: 190px;

	}
}
.contenido .casos .item .info .categoria{
	margin: 13px 15px 0 15px;
	display: inline-block;
	text-transform: uppercase;
	font-family: 'BebasNeueBold';
	font-weight: lighter;
	font-size: 16px;
	color: #8594a1;
}
.contenido .casos .item .info .titulo{
	margin: 5px 15px;
	display: inline-block;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	color: #40464b;
}
.contenido .casos .item .info .visto{
	margin: 5px 15px;
	display: inline-block;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: #4cb2e3;
	padding-left: 25px;
	background: url("img/icon-view.png") no-repeat left 3px;
}
.contenido .casos .item .info .compartido{
	margin: 5px 15px;
	display: inline-block;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: #4cb2e3;
	padding-left: 25px;
	background: url("img/icon-share.png") no-repeat left 3px;
}
.contenido .casos .item a img { width: 300px; height: 190px; }
.casos .item .fecha{
	display: none;
}
.contenido .navigation{
	width: 960px;
	margin: 40px auto 0 auto;
}
.contenido .navigation .tit{
	background-color: #a9b4bd;
	width: 100%;
	height: 60px;
	line-height: 60px;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-size: 27px;
	color: #FFF;
}
.contenido .navigation .prev{
	width: 50%;
	float: left;
	display: block;
	font-size: 35px;
	font-family: 'BebasNeueBold';
	font-weight: lighter;
	text-decoration: none;
	color: #4cb2e3;
	text-align: left;
	height: 84px;
	line-height: 84px;
}
.cambio-climatico{
	background-color: #0a6eb4;
}
.cambio-climatico:hover{
	background-color: #70c57c;
	color: #FFF;
}
.turismo-sostenible{
	background-color: #0a6eb4;
}
.turismo-sostenible:hover{
	background-color: #774f8e;
	color: #FFF;
}
.comunidad{
	background-color: #0a6eb4;
}
.comunidad:hover{
	background-color: #39ade4;
	color: #FFF;
}
.contenido .navigation .prev .backarrow{
	margin: 0 18px 0 30px;
}
.contenido .navigation .next{
	width: 50%;
	float: right;
	display: block;
	font-size: 35px;
	font-family: 'BebasNeueBold';
	font-weight: lighter;
	text-decoration: none;
	text-align: right;
	color: #4cb2e3;
	height: 84px;
	line-height: 84px;
}
.contenido .navigation .prev:hover, .contenido .navigation .next:hover{
	color: #FFF;
}
.contenido .navigation .next .nextarrow{
	margin: 0 30px 0 18px;
}

/*contactanos*/
.contenedor-contacto{
	width: 100%;
	text-align: center;
}

/*detalle iniciativa*/
.box-wide{
	width: 100%;
	background-color: #f3f8fb;
	float: left;
	text-align: center;
	margin-bottom:50px;
}
.contenido-box{
	width: 1022px;
	margin: 37px auto 0 auto;
}
.box-wide h1{
	font-size: 60px;
	font-family: 'BebasNeueBold';
	color: #003e7e;
	font-weight: lighter;
	margin: 0;
	padding: 0;
	line-height: 60px;
}
.box-wide h2{
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
	color: #6a6a6a;
	font-weight: lighter;
	margin: 25px 0;
	padding: 0;
}
.box-wide .video{
	width: 940px;
	margin: 0 auto;
}
.share-top{
	width: 100%;
	float: left;
}
.share-top .content{
	width: 962px;
	margin: 31px auto;
	border-top: solid 1px #cccccc;
	border-bottom: solid 1px #cccccc;
	height: 97px;
	text-align: left;
	position: relative;
	line-height: 97px;
	color: #535353;
}
.share-top .social{
	width: 91px;
	position: absolute;
	right: 11px;
	top: 0px;
}
.share-top .social .fb{
	float: left;
	opacity: 1;
	transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}
.share-top .social .go{
	float: right;
	opacity: 1;
	transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}
.share-top .social .fb:hover, .share-top .social .go:hover{
	opacity: .5;
	transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}
.share-top .icon-voice{
	margin: 0 20px 0 13px;
}
.contenido-post{
	width: 940px;
	margin: 0 auto;
}
.contenido-post h1{
	color: #4cb2e3;
	font-size: 30px;
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;
}
.contenido-post h1 img{
	margin: 0 32px 0 0;
}
/*.contenido-post .cols h2{
	color: #4cb2e3;
	font-size: 30px;
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;
	text-align: left;
}*/
.contenido-post .cols{
	color: #5f5f5f;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;
}
.contenido-post .col2{
	/*-webkit-column-count: 2; 
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 34px;
    -moz-column-gap: 34px; 
    column-gap: 34px;*/
}
.mas-programas h2{
	margin: 0;
	padding: 0;
	color: #4cb2e3;
	font-size: 30px;
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;
	text-align: left;
}
blockquote, q{
	color: #003e7e;
	font-size: 34px;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	line-height: 42px;
	font-weight: 700;
	margin: 40px 0;
	display: block;
}
.contenido-post .casos{
	width: 960px;
	margin: 0 auto 0 auto;
}
.contenido-post .casos{
	list-style: none;
	margin: 0 auto;
	padding: 0;
}
.contenido-post .casos .item{
	display: inline-block;
	*display: *inline;
	float: left;
	position: relative;
	width: 300px;
	margin: 0 20px 20px 0;
}
.contenido-post .casos .item .info{
	width: 100%;
	background-color: #f0f9fd;
	float: left;
}
.contenido-post .casos .item .info .categoria{
	margin: 13px 15px 0 15px;
	display: inline-block;
	text-transform: uppercase;
	font-family: 'BebasNeueBold';
	font-weight: lighter;
	font-size: 16px;
	color: #8594a1;
}
.contenido-post .casos .item .info .titulo{
	margin: 5px 15px;
	display: inline-block;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	color: #40464b;
}
.contenido-post .casos .item .info .visto{
	margin: 5px 15px;
	display: inline-block;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: #4cb2e3;
	padding-left: 25px;
	background: url("img/icon-view.png") no-repeat left 3px;
}
.contenido-post .casos .item .info .compartido{
	margin: 5px 15px;
	display: inline-block;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: #4cb2e3;
	padding-left: 25px;
	background: url("img/icon-share.png") no-repeat left 3px;
}
.contenido-post .header-block{
	margin: 37px 0 37px 0;
	position: relative;
	padding-bottom: 14px;
	border-bottom: solid 1px #eee;
}
.contenido-post .header-block h1{
	font-size: 32px;
	color: #003e7e;
	font-family: 'BebasNeueBold';
	font-weight: lighter;
	margin: 0;
	padding: 0;
	text-align: left;
	line-height: 32px;
}
.contenido-post .header-block .orden{
	position: absolute;
	right: 0;
	top: -13px;
	line-height: 35px;
	font-size: 20px;
	color: #7c7c7c;
	text-transform: uppercase;
	font-family: 'BebasNeueBold';
	font-weight: lighter;
}
.contenido-post .header-block .orden a{
	display: inline-block;
	padding: 10px 16px;
	color: #848484;
	margin: 0 0 0 15px;
	text-decoration: none;
}
.contenido-post .header-block .orden a.selected{
	background-color: #e8e8e8;
	color: #848484;
}
.contenido-post .header-block .orden a:hover{
	background-color: #e8e8e8;
	color: #848484;
}
.mas-programas .header-block{
	border-bottom: none;
	margin: 31px 0;
	padding: 0;
}
.margin-bottom-box{
	margin-bottom: 84px;
}
.menu-expanded{
	width: 100%;
	position: absolute;
	left: 0;
	top: 85px;
	z-index: 100;
	display: none;
}
.menu-expanded .content{
	width: 960px;
	margin: 0 auto;
	position: relative;
}
.menu-expanded .content ul{
	width: 355px;
	background-color: #215b96;
	margin: 0;
	padding: 0;
}
.menu-expanded .content .bg{
	width: 355px;
	background-color: #215b96;
	margin: 0;
	padding: 0;
	height: 652px;
}
.menu-expanded .content ul li{
	display: block;
	width: 255px;
	height: 50px;
	margin: 0 0 0 49px;
	border-bottom: solid 1px #4d7cab;
}
.menu-expanded .content ul li a, .ini{
	text-decoration: none;
	color: #76b9ff;
	font-family: 'BebasNeueRegular';
	font-size: 27px;
	line-height: 50px;
	padding-left: 29px;
	height: 50px;
	width: 226px;
	display: block;
}
.menu-expanded .content ul li a:hover{
	color: #FFF;
	background-color: #145391;
}
.menu-expanded .content ul li a.subm{
	color: #cadef2;
	text-decoration: none;
	text-transform: capitalize;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
}
.menu-expanded .content ul li a.subm:hover{
	color: #FFF;
	background-color: #145391;
}
.menu-expanded .fb{
	position: absolute;
	left: 107px;
	top: 605px;
	width: 38px;
	height: 38px;
}
.menu-expanded .yt{
	position: absolute;
	left: 159px;
	top: 605px;
	width: 38px;
	height: 38px;
}
.menu-expanded .go{
	position: absolute;
	left: 211px;
	top: 605px;
	width: 38px;
	height: 38px;
}
.menu-expanded .copy{
	position: absolute;
	left: 40px;
	top: 671px;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	color: #FFF;
	text-align: center;
}
.menu-expanded .btnmenu{
	display: none;
}
.block3{
	position: relative;
	overflow: hidden;
}
.block3 .mundo{
	background: url("img/mundo.png") no-repeat center top;
	position: absolute;
	width: 1498px;
	height: 1607px;
	
	left: -279px;
}

.arrowprev{
	position: absolute;
	left: 30px;
	top: 352px;
	height: 94px;
	display: block;
	transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}
.arrownext{
	position: absolute;
	right: 30px;
	top: 352px;
	width: 52px;
	height: 94px;
	display: block;
	transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}
.arrowprev:hover, .arrownext:hover{
	opacity: .5;
	transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}
.contenido-box .arrowprev, .contenido-box .arrownext{
	top: 452px;
}
.content-banner2{
	position: relative;
	width: 940px;
	height: 530px;
	margin: 0 auto;
}
.banner2{
	width: 940px;
	height: 530px;
}
.banner2 ul{
	margin: 0;
	padding: 0;
	list-style: none;
	width: 940px;
	height: 530px;
}
.banner2 ul li{
	display: inline-block;
	float: left;
	width: 940px;
	/*height: 530px;*/
}
.banner{
	position: relative;
}
.banner .btn{
	position: absolute;
	left: 414px;
	top: 552px;
}
.banner h1{
	color: #FFF;
	font-family: 'BebasNeueBold';
	font-weight: lighter;
	font-size: 80px;
	text-align: center;
	margin: 40px 0 25px 0;
	padding: 0;
}
.banner h2{
	color: #FFF;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	text-align: center;
	margin: 0 170px;
	padding: 0;
}
.banner .texto{
	position: absolute;
	z-index;
	left: 0;
	top: 0;
	height: 532px;
	width: 100%;
}
.titulo-post{
	color: #003e7e;
	font-family: 'BebasNeueBold';
	font-weight: lighter;
	font-size: 50px;
	text-align: center;
}
.subtitulo-post{
	color: #6a6a6a;
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;
	font-size: 18px;
	text-align: center;
	width: 707px;
	margin: 0 auto 50px auto;

}
.galeria{
	width: 950px;
	border-top: solid 1px #ccc;
	padding-top: 22px;
	margin: 0 auto;
	padding-left: 10px;
}
.galeria h1{
	margin: 0 0 18px 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;
	font-size: 30px;
	color: #4cb2e3;
}
.galeria h1 img{
	margin: 0 17px 0 25px;
	display: inline-block;
}
.galeria ul{
	margin: 0 auto;
	padding: 0;
	list-style: none;
	width: 940px;
}
.galeria ul li{
	margin: 0;
	padding: 0;
	float: left;
	display: inline-block;
	*display: inline;
	width: 940px;
	height: 450px;
}
.galeria .controls{
	width: 940px;
	height: 50px;
	position: relative;
	background-color: #8594a1;
	margin: 0 auto;
	float: left;
}
.galeria .controls .fullscreen{
	width: 51px;
	height: 50px;
	position: absolute;
	left: 0;
	top: 0;
}
.galeria .controls .arrowprev2{
	width: 51px;
	height: 50px;
	position: absolute;
	right: 51px;
	top: 0;
}
.galeria .controls .arrownext2{
	width: 51px;
	height: 50px;
	position: absolute;
	right: 0;
	top: 0;
}
.galeria .controls .arrowprev3{
	width: 51px;
	height: 50px;
	position: absolute;
	right: 51px;
	top: 0;
}
.galeria .controls .arrownext3{
	width: 51px;
	height: 50px;
	position: absolute;
	right: 0;
	top: 0;
}
.galeria .controls .counter{
	float: right;
	display: inline-block;
	margin: 0 121px 0 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 22px;
	color: #FFF;
	line-height: 50px;
}


/*SECCIÓN GALERIA*/
.page-galeria{
	width: 960px;
	margin: 0 auto;
}
.page-galeria .contenido{
	margin: 41px 0 73px 0;
}
.page-galeria .contenido .left{
	float: left;
	width: 229px;
	background-color: #9da9b4;
}
.page-galeria .contenido .right{
	float: left;
	width: 731px;
}
.page-galeria .contenido .left .titulo{
	width: 229px;
	height: 60px;
	width: 229px;
	background-color: #8594a1;
}
.page-galeria .contenido .left .titulo h1{
	margin: 0 0 0 18px;
	line-height: 60px;
	padding: 0;
	color: #FFF;
	font-family: 'BebasNeueBold';
	font-size: 42px;
	font-weight: lighter;
}
.page-galeria .contenido .right .titulo{
	display: none;
}
.page-galeria .contenido .right .headers{
	width: 100%;
	height: 60px;
	background-color: #9da9b4;
	display: block;
}
.page-galeria .contenido .right .headers-movil{
	display: none;
}
.page-galeria .contenido .right .headers .links ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
.page-galeria .contenido .right .headers .links ul li{
	display: inline-block;
	float: left;
	margin: 0 0 0 37px;
	line-height: 60px;
	color: #000;
	font-family: 'BebasNeueBold';
	font-size: 22px;
	font-weight: lighter;
	text-decoration: none;

}
.page-galeria .contenido .right .headers .links ul li a{
	line-height: 60px;
	color: #FFF;
	font-family: 'BebasNeueBold';
	font-size: 22px;
	font-weight: lighter;
	text-decoration: none;
}
.page-galeria .contenido .right .headers .links ul li a:hover{
	color: #000;
}
.page-galeria .contenido .right .headers .links ul li a.selected{
	color: #000;
}
.page-galeria .contenido .right .headers .orden{
	float: right;
	margin-right: 47px;
}
.page-galeria .contenido .right .headers .orden ul{
	list-style: none;
	margin: 0;
	padding: 0;
	line-height: 60px;
	color: #000;
	font-family: 'BebasNeueBold';
	font-size: 22px;
	font-weight: lighter;
	text-decoration: none;
}
.page-galeria .contenido .right .headers .orden ul li{
	display: inline-block;
	float: left;
	margin: 0 0 0 37px;
}
.page-galeria .contenido .right .headers .orden ul li a{
	line-height: 60px;
	color: #FFF;
	font-family: 'BebasNeueBold';
	font-size: 22px;
	font-weight: lighter;
	text-decoration: none;
}
.page-galeria .contenido .right .headers .orden ul li a:hover{
	color: #000;
}
.page-galeria .contenido .right .headers .orden ul li a.selected{
	color: #000;
}
.page-galeria .contenido .left .menu-lat ul{
	list-style: none;
	margin: 15px 0 0 20px;
	padding: 0;
}
.page-galeria .contenido .left .menu-lat ul li{
	display: block;
	margin: 0;
	padding: 0;
}
.page-galeria .contenido .left .menu-lat ul li a{
	line-height: 50px;
	color: #FFF;
	font-family: 'BebasNeueBold';
	font-size: 22px;
	font-weight: lighter;
	text-decoration: none;
}
.page-galeria .contenido .left .menu-lat ul li a:hover{
	color: #000;
}
.page-galeria .contenido .left .menu-lat ul li a.selected{
	color: #FFF;
	text-decoration: underline;
}
.page-galeria .contenido .left .menu-lat ul li a.selected span{
	color: #000;
}
.page-galeria .contenido .right .gal{
	margin: 33px 0 0 0;
}
.page-galeria .contenido .right .gal .content-galeria{
	margin: 0;
	padding: 0;
}
.content-galeria .fecha, .content-galeria .visto{
	display: none;
}
.page-galeria .contenido .right .gal .item{
	display: inline-block;
	*display: inline;
	width: 300px;
	float: left;
	margin: 0 0 21px 43px;                                    
}
.page-galeria .contenido .right .gal .item .info{
	min-height: 107px;
	background-color: #e8f5fb;
	padding-bottom: 10px;
}
.page-galeria .contenido .right .gal .item .info h2{
	color: #8594a1;
	font-family: 'BebasNeueBold';
	font-size: 16px;
	font-weight: lighter;
	margin: 14px 18px 0 18px;
	padding: 0;
	float: left;
}
.page-galeria .contenido .right .gal .item .info p{
	color: #000;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	margin: 14px 18px 0 18px;
	padding: 0;
	float: left;
}
.page-galeria .contenido .right .gal .item a{
	display: block;
	width: 300px;
	height: 190px;
	overflow: hidden;
}
.content-galeria .comunidad{
	background-color: #FFF;
}
/*FIN SECCIÓN GALERIA*/
/*POPUP GALERÍA*/
.popup-galeria{
	width: 100%;
	position: absolute;
	z-index: 100;
	left: 0;
	top: 0;
	display: none;
}
.popup-galeria .bg{
	position: absolute;
	background-color: #FFF;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: .75;
}
.popup-galeria .contenido{
	width: 100%;
	height: 100%;
	z-index: 10;
	position: relative;
	margin: 0;
	padding: 0;
	float: left;
}
.popup-galeria .galeria{
	width: 1024px;
	height: 609px;
	padding-top: 145px;
	margin: 0 auto;
	border: none;
	padding-left: 0;
	position: relative;
	z-index: 10;
}
.popup-galeria .galeria ul{
	margin: 0 auto;
	padding: 0;
	list-style: none;
	width: 1024px;
}
.popup-galeria .galeria ul li{
	margin: 0;
	padding: 0;
	float: left;
	display: inline-block;
	*display: inline;
	width: 1024px;
	height: 559px;
	background-color: gray;
}
.popup-galeria .galeria .controls{
	width: 1024px;
	height: 50px;
	position: relative;
	background-color: #8594a1;
	margin: 0 auto;
	float: left;
}
.popup-galeria .galeria .controls .arrowprev2{
	width: 51px;
	height: 50px;
	position: absolute;
	right: 51px;
	top: 0;
}
.popup-galeria .galeria .controls .arrownext2{
	width: 51px;
	height: 50px;
	position: absolute;
	right: 0;
	top: 0;
}
.popup-galeria .galeria .controls .counter{
	float: right;
	display: inline-block;
	margin: 0 121px 0 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 22px;
	color: #FFF;
	line-height: 50px;
}
.popup-galeria .regresar{
	position: absolute;
	right: 0;
	top: 90px;
	width: 151px;
	height: 50px;
	line-height: 50px;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	color: #FFF;
	text-align: center;
	text-decoration: none;
	background-color: #919eaa;
}
.popup-galeria .regresar img{
	margin: 0 12px 0 0;
}
/*FIN POPUP GALERÍA*/
}

@media only screen and (min-width: 1px) and (max-width: 640px) {
body {
	width: 100%;
}
.main{
	width: 100%;
}
.header{
    width: 100%; 
    height: 50px;
    background-color: #003e7e;
}
.header .content{
    position: relative;
    width: 100%;
    margin: 0 auto;
    height: 50px;
}
.header .btnmenu{
	position: absolute;
	left: 15px;
	top: 7px;
	display: block;
}
.header .btnmenu .normal{
	position: absolute;
}
.header .btnmenu .over{
	display: none;
	position: absolute;
}
.header .logo{
	display: none;
}
.header .logolan{
	position: absolute;
	right: 20px;
	top: 11px;
	display: block;
}

/*HOME*/
.popup-galeria{
	display: none;
}
.page-home{
	width: 100%;
	margin: 0 auto;
}
.inicio{
	width: 100%;
	float: left;
}
.inicio .intro{
	background: url("img/bgtitulo-1-movil.png") no-repeat center top;
	text-align: center;
	padding: 0;
	width: 100%;
	float: left;
}
.inicio h1{
	font-size: 38px;
	color: #003e7e;
	font-family: 'BebasNeueRegular';
	margin: 27px 0;
	padding: 0;
	font-weight: lighter;
	line-height: 38px;
}
.inicio h2{
	font-size: 19px;
	color: #000;
	margin: 0 auto 15px auto;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;
	color: #003e7e;
	line-height: 26px;
	width: 250px;
}
.inicio h3.desktop{
	display: none;
}
.inicio h3.movil{
	width: 261px;
	margin: 0 auto;
	display: block;
}
.inicio h3.movil a{
	font-family: 'Open Sans', sans-serif;
	color: #5f5f5f;
	font-size: 14px;
	font-weight: lighter;
	text-decoration: none;
}
.inicio h3.movil img{
	margin: 10px;
}
.inicio h2 span{
	font-weight: 700;
}
.inicio .block2, .inicio .block3{
	display: none;
}
.inicio .block3{
	width: 100%;
	float: left;
	height: 215px;
}
.categorias-movil{
	display: block;
	width: 280px;
	height: 68px;
	margin: 0 auto;
}
.categorias-movil a{
	float: left;
}
.categorias-movil a:first-child{
	margin: 10px 0 0 0;
}
.categorias-movil a:last-child{
	margin: 0 0 41px 0;
}
.categorias-movil .central{
	margin: 15px 0;
	display: block;
}
/*END INICIO*/
/*Footer*/
.footer{
	width: 100%;
	background-color: #003e7e;
	height: 240px;
	position: relative;
	float: left;
}
.footer .content{
	width: 100%;
	margin: 0 auto;
	position: relative;
	height: 240px;
}
.footer .content .copy{
	position: absolute;
	left: 0px;
	top: 193px;
	font-size: 18px;
	color: #4b77a4;
	font-family: 'BebasNeueBold';
	width: 100%;
	text-align: center;
	border-top: aolid 1px #0d4885;
	line-height: 46px;
}
/*footer-trademark responsive - 2/05*/
.footer .trademark{
	display: inline-block;
    width: 100%;
    text-align: center;
    background-color: #003e7e;
    font-family: 'Open Sans', sans-serif;
    color: rgb(75, 119, 164);
    font-size: 10px;
    border-top: 1px solid rgba(75, 119, 164, 0.25)
}
.footer .content .nav{
	list-style: none;
	margin: 142px;
	padding: 0;
	width: 100%;
}
.footer .content .nav li{
	display: block;
	float: left;
	line-height: 46px;
	width: 100%;
	height: 46px;
	border-bottom: solid 1px #0d4885;
}
.footer .content .nav li a{
	display: block;
	font-family: 'BebasNeueBold';
	font-size: 22px;
	color: #FFF;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	width: 100%;
	height: 46px;
}
.footer .content .social{
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
	float: left;
	height: 46px;
	width: 100%;
	border-bottom: solid 1px #0d4885;
}
.footer .content .social li{
	display: inline-block;
	*display: inline;
	line-height: 46px;
	width: 22px;
	height: 22px;
}
.footer .content .social li.central{
	margin: 0 39px;
}
.footer .content .social li a{
	display: block;
	width: 22px;
	height: 22px;
	line-height: 46px;
	margin: 12px 0 0 0;
}
.footer .content .social li a.fb{
	background: url("img/fb.gif") no-repeat left top;
}
.footer .content .social li a.fb:hover{
	background: url("img/fb.gif") no-repeat left -22px;
}
.footer .content .social li a.yt{
	background: url("img/yt.gif") no-repeat left top;
}
.footer .content .social li a.yt:hover{
	background: url("img/yt.gif") no-repeat left -22px;
}
.footer .content .social li a.go{
	background: url("img/tw.gif") no-repeat left top;
}
.footer .content .social li a.go:hover{
	background: url("img/tw.gif") no-repeat left -22px;
}
/*END FOOTER*/
/*MENU*/
.menu-expanded{
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1000;
	display: none;
}
.menu-expanded .content{
	width: 100%;
	margin: 0 auto;
	position: relative;
	float: left;
}
.menu-expanded .content ul{
	width: 100%;
	background-color: #1a5592;
	margin: 50px 0 0 0;
	padding: 0;
}
.menu-expanded .content .bg{
	width: 100%;
	background-color: #1a5592;
	margin: 0;
	padding: 0;
	height: 700px;
	position: absolute;
	left: 0;
	top: 0;
}
.menu-expanded .content ul{
	width: 200px;
	margin: 60px auto 0 auto;
}
.menu-expanded .content ul li{
	display: block;
	width: 100%;
	height: 50px;
}
.menu-expanded .content ul li a, .ini{
	text-decoration: none;
	color: #8daac7;
	font-family: 'BebasNeueRegular';
	font-size: 28px;
	line-height: 48px;
	height: 48px;
	width: 100%;
	display: block;
	text-align: center;
}
.menu-expanded .content ul li a.selected{
	color: #FFF;
	background-color: #003e7e;
}
.menu-expanded .content ul li a.subm{
	color: #cadef2;
	text-decoration: none;
	text-transform: capitalize;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}
.menu-expanded .content ul li a.subm:hover{
	color: #FFF;
	background-color: #003e7e;
}
.menu-expanded .bottom{
	position: relative;
	float: left;
	width: 100%;
	text-align: center;
	margin: 15px 0 0 0;
}
.menu-expanded .fb{
	width: 38px;
	height: 38px;
}
.menu-expanded .yt{
	width: 38px;
	height: 38px;
	margin: 0 25px;
}
.menu-expanded .go{
	width: 38px;
	height: 38px;
}
.menu-expanded .copy{
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	color: #FFF;
	text-align: center;
	margin: 20px 0 0 0;
}
.menu-expanded .btnmenu{
	display: block;
	position: absolute;
	left: 15px;
	top: 7px;
	width: 40px;
	height: 40px;
}
/*END MENU*/
/*BREADCRUMB*/
.breadcrumb{
	width: 100%;
	height: 40px;
	background-color: #FFF;
	position: relative;
	overflow: hidden;
}
.breadcrumb .content{
    position: relative;
    width: 100%;
    margin: 0;
    height: 40px;
    line-height: 40px;
    color: #666666;
    text-decoration: none;
    padding: 0 20px;
}
.breadcrumb .content .backarrow{
	display: none;
}
.breadcrumb .content a{
	color: #666666;
	text-decoration: underline;
	font-size: 13px;
	font-family: 'Open Sans', sans-serif;
}
.breadcrumb .content span{
	color: #666;
	text-decoration: none;
	font-size: 13px;
	font-family: 'Open Sans', sans-serif;
}
.clear{
	clear: both;
}
/*END BREADCRUMB*/
/*INICIATIVAS*/
.contenido{
	width: 100%;
	margin: 0;
	padding: 0;
}
.contenido .banner{
	width: 100%;
}
.contenido .banner img{
	width: 100%;
	height: auto;
}
.contenido .banner .moverabajo{
	display: none;
}
.contenido .banner h1{
	color: #003e7e;
	font-family: 'BebasNeueBold';
	font-weight: lighter;
	font-size: 38px;
	text-align: center;
	margin: 20px 0 10px 0;
	padding: 0;
	text-align: center;
}
.contenido .banner h2{
	color: #727272;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	text-align: center;
	margin: 0;
	padding: 0;
	font-weight: lighter;
	margin: 0 30px 40px 30px;
}
.contenido .banner .texto{
	width: 100%;
}
.arrows-movil{
	display: block;
	border-top: solid 1px #dadada;
}
.contenido .arrows{
	display: none;
}
.arrows-movil a{
	color: #929292;
	font-size: 20px;
	font-family: 'BebasNeueBold';
	text-decoration: none;
	line-height: 40px;
}
.arrows-movil .arrowprev img{
	margin: 0 6px 0 20px;
}
.arrows-movil .arrownext{
	float: right;
}
.arrows-movil .arrownext img{
	margin: 0 20px 0 6px;
}
.contenido .header-block{
	display: none;
}
.contenido .orden-movil{
	display: block;
	width: 87.5%;
	margin: 20px auto;
}

.contenido .orden-movil .select{
	margin: 20px 0 0 0;
	padding: 0;
}
.pulldown{
	height: 38px;
	width: 100%;
	overflow: hidden;
	cursor: pointer;
	position: relative;
	color: #7c7c7c;
	font-family: 'BebasNeueBold';
	font-size: 20px;
	overflow: hidden;
	cursor: pointer;
	position: relative;
	background: url("img/updown.gif") no-repeat right top #edeff1;
	margin: 0 auto;
}
.pulldown div.txtpull {
	margin: 0;
	line-height: 38px;
	width: 100%;
	height: 38px;
	color: #7c7c7c;
	font-family: 'BebasNeueBold';
	font-size: 20px;
	overflow: hidden;
	word-wrap: break-word;
	position: absolute;
	z-index: 5;
	text-align: right;
}
.pulldown div.txtpull span{
	display: block;
	margin-right: 30px;
}
.pulldown select {
	cursor: pointer;
	width: 100%;
	margin: 0 auto;
	position: absolute;
	left: 0;
	top: 5px;
	filter:alpha(opacity=0);
	opacity: 0;
	-moz-opacity:0;
	position: absolute;
	z-index: 10;
}

.contenido .casos{
	width: 87.5%;
	margin: 0 auto;
}

.contenido .casos .item{
	display: block;
	float: left;
	position: relative;
	width: 100%;
	margin: 0 auto 40px auto;
}
.contenido .casos .item .info{
	width: 100%;
	background-color: #f0f9fd;
	float: left;
	min-height: 118px;
}
.casos .item a{
	display: block;
	width: 100%;
	height: 159px;
	overflow: hidden;
}
.contenido .casos .item .info .categoria{
	margin: 13px 15px 0 15px;
	display: inline-block;
	text-transform: uppercase;
	font-family: 'BebasNeueBold';
	font-weight: lighter;
	font-size: 16px;
	color: #8594a1;
}
.contenido .casos .item .info .titulo{
	margin: 5px 15px;
	display: inline-block;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	color: #40464b;
}
.contenido .casos .item .info .visto{
	margin: 5px 15px;
	display: inline-block;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: #4cb2e3;
	padding-left: 25px;
	background: url("img/icon-view.png") no-repeat left 3px;
}
.contenido .casos .item .info .compartido{
	margin: 5px 15px;
	display: inline-block;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: #4cb2e3;
	padding-left: 25px;
	background: url("img/icon-share.png") no-repeat left 3px;
}
.casos .item .fecha{
	display: none;
}
.casos .img-zoom{
	width: 100%;
	height: auto;
}
.contenido .navigation{
	width: 100%;
	margin: 0 auto 0 auto;
}
.contenido .navigation .tit{
	background-color: #a9b4bd;
	width: 100%;
	height: 60px;
	line-height: 60px;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	color: #FFF;
}
.contenido .navigation .prev{
	width: 100%;
	display: block;
	font-size: 25px;
	font-family: 'BebasNeueBold';
	font-weight: lighter;
	text-decoration: none;
	color: #FFF;
	text-align: center;
	height: 54px;
	line-height: 54px;
	border-bottom: solid 1px #ced6df;
}
.contenido .navigation .prev .backarrow, .contenido .navigation .next .nextarrow{
	display: none;
}
.contenido .navigation .next{
	width: 100%;
	display: block;
	font-size: 25px;
	font-family: 'BebasNeueBold';
	font-weight: lighter;
	text-decoration: none;
	text-align: center;
	color: #FFF;
	height: 54px;
	line-height: 54px;
}
.cambio-climatico{
	background-color: #0a6eb4;
}
.cambio-climatico:hover{
	background-color: #70c57c;
	color: #FFF;
}
.turismo-sostenible{
	background-color: #0a6eb4;
}
.turismo-sostenible:hover{
	background-color: #774f8e;
	color: #FFF;
}
.comunidad{
	background-color: #0a6eb4;
}
.comunidad:hover{
	background-color: #39ade4;
	color: #FFF;
}

/*END INICIATIVAS*/

/*POSTS INICIATIVAS*/
.box-wide{
	width: 87.5%;
	margin: 0 auto;
	background-color: #FFF;
	text-align: center;
}
.contenido-box{
	width: 100%;
}
.contenido-box .arrowprev, .contenido-box .arrownext{
	display: none;
}
.box-wide h1{
	font-size: 60px;
	font-family: 'BebasNeueBold';
	color: #003e7e;
	font-weight: lighter;
	margin: 5px 0 0 0;
	padding: 0;
	line-height: 60px;
}
.box-wide h2{
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
	color: #6a6a6a;
	font-weight: lighter;
	margin: 25px 0;
	padding: 0;
}
.box-wide .video{
	width: 100%;
	margin: 0 auto;
}
.share-top{
	width: 87.5%;
	margin: 26px auto 0 auto;
}
.share-top .content{
	width: 100%;
	margin: 31px auto;
	border-top: solid 1px #cccccc;
	border-bottom: solid 1px #cccccc;
	text-align: left;
	position: relative;
	color: #535353;
	padding: 15px 0 20px 0;
}
.share-top .social{
	width: 100%;
	position: relative;
	margin-top: 15px;
}
.share-top .social .fb{
	opacity: 1;
	margin-left: 74px;
	transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}
.share-top .social .go{
	opacity: 1;
	transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}
.share-top .social .fb:hover, .share-top .social .go:hover{
	opacity: .5;
	transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}
.share-top .icon-voice{
	margin: 0 20px 0 13px;
	position: relative;
	top: 0;
	left: 0;
	float: left;
}
.share-top span{
	display: inline-block;
	*display: inline;
	width: 50%;
	line-height: 23px;
}
.contenido-post{
	width: 87.5%;
	margin: 0 auto;
}
.contenido-post h1{
	color: #4cb2e3;
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;
}
.contenido-post h1 img{
	margin: 0 10px 0 0;
	max-width: 40px;
}
.contenido-post .cols{
	color: #5f5f5f;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;
}
.csColumnGap img, .csColumn img, .alignnone{
	width: 100%;
	height: auto;
}
.csColumn{
	clear: both !important;
	float: none !important;
	text-align: center !important;
	margin-left: 0% !important; 
	margin-right: 0% !important; 
	width: 100% !important;
}
blockquote, q{
	color: #003e7e;
	font-size: 34px;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	line-height: 42px;
	font-weight: 700;
	margin: 40px 0;
	display: block;
}
.contenido-post .casos{
	width: 100%;
	margin: 0 auto 0 auto;
}
.contenido-post .casos{
	list-style: none;
	margin: 0 auto;
	padding: 0;
}
.contenido-post .casos .item{
	display: inline-block;
	*display: *inline;
	float: left;
	position: relative;
	width: 100%;
	margin: 0 20px 20px 0;
}
.contenido-post .casos .item .info{
	width: 100%;
	background-color: #f0f9fd;
	float: left;
}
.contenido-post .casos .item .info .categoria{
	margin: 13px 15px 0 15px;
	display: inline-block;
	text-transform: uppercase;
	font-family: 'BebasNeueBold';
	font-weight: lighter;
	font-size: 16px;
	color: #8594a1;
}
.contenido-post .casos .item .info .titulo{
	margin: 5px 15px;
	display: inline-block;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	color: #40464b;
}
.contenido-post .casos .item .info .visto{
	margin: 5px 15px;
	display: inline-block;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: #4cb2e3;
	padding-left: 25px;
	background: url("img/icon-view.png") no-repeat left 3px;
}
.contenido-post .casos .item .info .compartido{
	margin: 5px 15px;
	display: inline-block;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: #4cb2e3;
	padding-left: 25px;
	background: url("img/icon-share.png") no-repeat left 3px;
}
.contenido-post .header-block{
	display: none;
}
.content-banner2{
	position: relative;
	width: 100%;
	height: auto;
	margin: 0 auto;
}
.banner2{
	width: 100%;
	height: auto;
	margin: 0 0 26px 0;
}
.banner2 ul{
	margin: 0;
	padding: 0;
	list-style: none;
	width: 100%;
	height: auto;
}
.banner2 ul li{
	display: inline-block;
	float: left;
	width: 100%;
	height: auto;
}
.banner2 ul li img{
	width: 100%;
}
.orden-movil h1{
	color: #003e7e;
	font-size: 24px;
	font-family: 'BebasNeueBold';
	text-decoration: none;
	line-height: 24px;
	margin: 0;
	text-align: left;
}
.contenido-post .orden-movil{
	display: block;
	width: 100%;
	margin: 20px auto;
}

.contenido-post .orden-movil .select{
	margin: 20px 0 0 0;
	padding: 0;
}
.galeria{
	width: 87.5%;
	border-top: solid 1px #ccc;
	margin: 0 auto;
	padding-top: 15px;
}
.galeria h1{
	margin: 0 0 18px 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 17px;
	color: #4cb2e3;
}
.galeria h1 img{
	margin: 0 17px 0 25px;
	display: inline-block;
}

.galeria .img{
	margin: 0;
	padding: 0;
	float: left;
	display: inline-block;
	*display: inline;
	width: 100%;
	height: auto;
}
.galeria .controls{
	width: 100%;
	height: 50px;
	position: relative;
	background-color: #8594a1;
	margin: 0 auto;
	float: left;
}
.galeria .controls .fullscreen{
	width: 51px;
	height: 50px;
	position: absolute;
	left: 0;
	top: 0;
}
.galeria .controls .arrowprev2{
	width: 51px;
	height: 50px;
	position: absolute;
	right: 51px;
	top: 0;
}
.galeria .controls .arrownext2{
	width: 51px;
	height: 50px;
	position: absolute;
	right: 0;
	top: 0;
}
.galeria .controls .arrowprev3{
	width: 51px;
	height: 50px;
	position: absolute;
	right: 51px;
	top: 0;
}
.galeria .controls .arrownext3{
	width: 51px;
	height: 50px;
	position: absolute;
	right: 0;
	top: 0;
}
.galeria .controls .counter{
	float: right;
	display: inline-block;
	margin: 0 121px 0 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 22px;
	color: #FFF;
	line-height: 50px;
	background-color: #8594a1;
}
/*END POSTS INICIATIVAS*/
/*SECCIÓN GALERIA*/
.page-galeria{
	width: 87.5%;
	margin: 0 auto;
}
.page-galeria .contenido{
	margin: 0;
}
.page-galeria .contenido .left{
	display: none;
}
.page-galeria .contenido .right{
	float: left;
	width: 100%;
}
.page-galeria .contenido .right .titulo{
	display: block;
	width: 100%;
	height: 50px;
	border-bottom: solid 1px #ccc;
	margin-bottom: 0px;
}
.page-galeria .contenido .right .titulo h1{
	margin: 0;
	line-height: 50px;
	padding: 0;
	color: #003e7e;
	font-family: 'BebasNeueBold';
	font-size: 30px;
	font-weight: lighter;
}
.page-galeria .contenido .right .headers{
	display: none;
}
.page-galeria .contenido .right .headers-movil{
	display: block;
	width: 100%;
	height: 33px;
	overflow: auto;
}
.page-galeria .contenido .right .headers-movil .links ul{
	list-style: none;
	margin: 0;
	padding: 0;
	width: 1000px;
}
.page-galeria .contenido .right .headers-movil .links ul { 
	width: 100% \0/IE9; 
	height: 66px \0/IE9
}  /* IE9 */

.page-galeria .contenido .right .headers-movil .links ul li{
	display: inline-block;
	float: left;
	margin: 0 12px 0 0;
	line-height: 33px;
	color: #3a3a3a;
	font-family: 'BebasNeueBold';
	font-size: 20px;
	font-weight: lighter;
	text-decoration: none;

}
.page-galeria .contenido .right .headers-movil .links ul li a{
	line-height: 33px;
	color: #8594a1;
	font-family: 'BebasNeueBold';
	font-size: 20px;
	font-weight: lighter;
	text-decoration: none;
}
.page-galeria .contenido .right .headers-movil .links ul li a span{
	color: #929292;
}
.page-galeria .contenido .right .headers-movil .links ul li a:hover{
	color: #3a3a3a;
}
.page-galeria .contenido .right .headers-movil .links ul li a.selected{
	color: #3a3a3a;
	text-decoration: underline;
}
.page-galeria .orden-movil{
	width: 100%;
}
.page-galeria .contenido .right .gal{
	margin: 33px 0 0 0;
}
.page-galeria .contenido .right .gal .content-galeria{
	margin: 0;
	padding: 0;
}
.content-galeria .fecha, .content-galeria .visto{
	display: none;
}
.page-galeria .contenido .right .gal .item{
	display: block;
	width: 100%;
	margin: 0 0 21px 0;
	float: left;                                
}
.page-galeria .contenido .right .gal .item .img-zoom{
	width: 100%;
	height: auto;
}

.page-galeria .contenido .right .gal .item .info{
	height: 107px;
	background-color: #e8f5fb;
}
.page-galeria .contenido .right .gal .item .info h2{
	color: #8594a1;
	font-family: 'BebasNeueBold';
	font-size: 16px;
	font-weight: lighter;
	margin: 14px 18px 0 18px;
	padding: 0;
	float: left;
	clear: both;
}
.page-galeria .contenido .right .gal .item .info p{
	color: #000;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	margin: 14px 18px 0 18px;
	padding: 0;
	float: left;
}
.page-galeria .contenido .right .gal .item a{
	display: block;
	width: 100%;
	height: auto;
	overflow: hidden;
}
.content-galeria .comunidad{
	background-color: #FFF;
}
/*FIN SECCIÓN GALERIA*/
/*POPUP GALERÍA*/
.popup-galeria{
	width: 100%;
	position: absolute;
	z-index: 100;
	left: 0;
	top: 0;
	display: none;
}
.popup-galeria .bg{
	position: absolute;
	background-color: #FFF;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: .75;
}
.popup-galeria .contenido{
	width: 100%;
	height: 100%;
	z-index: 10;
	position: relative;
	margin: 0;
	padding: 0;
	float: left;
}
.popup-galeria .galeria{
	width: 100%;
	height: auto;
	padding-top: 145px;
	margin: 0 auto;
	border: none;
	padding-left: 0;
	position: relative;
	z-index: 10;
}
.popup-galeria .galeria div{
	margin: 0;
	padding: 0;
	float: left;
	display: inline-block;
	*display: inline;
	width: 100%;
	height: auto;
	background-color: gray;
}
.popup-galeria .galeria div img{
	width: 100%;
	height: auto;
}
.popup-galeria .galeria .controls{
	width: 100%;
	height: 50px;
	position: relative;
	background-color: #8594a1;
	margin: 0 auto;
	float: left;
}
.popup-galeria .galeria .controls .arrowprev2{
	width: 51px;
	height: 50px;
	position: absolute;
	right: 51px;
	top: 0;
}
.popup-galeria .galeria .controls .arrownext2{
	width: 51px;
	height: 50px;
	position: absolute;
	right: 0;
	top: 0;
}
.popup-galeria .galeria .controls .counter{
	float: right;
	display: inline-block;
	margin: 0 121px 0 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 22px;
	color: #FFF;
	line-height: 50px;
	text-align: right;
}
.popup-galeria .regresar{
	position: absolute;
	right: 0;
	top: 90px;
	width: 151px;
	height: 50px;
	line-height: 50px;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	color: #FFF;
	text-align: center;
	text-decoration: none;
	background-color: #919eaa;
}
.popup-galeria .regresar img{
	margin: 0 12px 0 0;
}
/*FIN POPUP GALERÍA*/
/*.popup-galeria .first{
	display: inline-block;
	top: 0;
	right: 153px;
	position: absolute;
}
.popup-galeria .second{
	display: inline-block;
	position: absolute;
	top: 0;
	right: 102px;
}*/


}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/* Prevent callout */

.nocallout {
    -webkit-touch-callout: none;
}

.pressed {
    background-color: rgba(0, 0, 0, 0.7);
}

/* A hack for HTML5 contenteditable attribute on mobile */

textarea[contenteditable] {
    -webkit-appearance: none;
}

/* A workaround for S60 3.x and 5.0 devices which do not animated gif images if
   they have been set as display: none */

.gifhidden {
    position: absolute;
    left: -100%;
}

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    background-repeat: no-repeat;
    border: 0;
    direction: ltr;
    display: block;
    overflow: hidden;
    text-align: left;
    text-indent: -999em;
}

.ir br {
    display: none;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/**
 * Clearfix helper
 * Used to contain floats: h5bp.com/q
 */

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}


@media only screen and (min-width: 320px){
	.box-publicaciones, .box-publicaciones2 {
		background: #f3f8fb;
		color: #002664;
		display: block;
		position: relative;
	}
	.box-publicaciones .left {
	    font-size: 26px;
	    width: 310px;
	    font-weight: 600;
	    text-align: center;
	    float: left;
	}
	.box-publicaciones .left p{
		line-height: 53px;
		margin-bottom: 0px;
	}
	.box-publicaciones .left span{
		font-size: 88px;
	}
	.box-publicaciones .right p {
	    font-size: 22px;
	    font-weight: 500;
	    padding: 72px 8px 51px 21px;
	    line-height: 26px;
	}
	.box-publicaciones2 .right p{
		font-size: 23px;
	    font-weight: 500;
	    padding: 40px 8px 40px 21px;
	    line-height: 26px;
	}
			
}
@media only screen and (min-width: 480px){
	.box-publicaciones .left{
		float: none;
		width: initial;
	}
	.box-publicaciones .right p, .box-publicaciones2 .right p {
	    padding: 3px 8px 30px 21px;
	    margin-top: 0px;
	}
	.box-publicaciones .left p{
		margin: 0px;
		padding-top: 40px;
	}
	.box-publicaciones2 .right p{
		padding: 31px 22px 31px 28px;
    	margin-top: 0px;
	}
}

@media only screen and (min-width: 768px){
	
	.box-publicaciones .left{
		font-size: 28px;
		width: 347px;
		float: left;
	}
	.box-publicaciones .left p{
		line-height: 60px;
		padding-top: 26px;

	}
	.box-publicaciones .left span{
		font-size: 105px;
	}
	.box-publicaciones .right p {
		font-size: 28px;
	    font-weight: 500;
	    padding: 72px 0px 71px;
	    line-height: 32px;
	}

	.box-publicaciones2 .right p{
		font-size: 42px;
	    font-weight: 500;
	    padding: 40px 59px 40px 68px;
	    line-height: 49px;
	}
	.box-publicaciones .right p span{
		font-size: 73px;
		font-weight: bold;
	}


	     

	
}





/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 800px) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for viewports that meet the condition */
}

.banner2 > img {
	width: 100%;
    	height: auto;
}

.galeria div,
.galeria a{
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
}

@media only screen and (min-width: 640px){
	.galeria .carousel-galeria{
	height: 200px;
	}


	.galeria .carousel-galeria{
		height: 600px;
		overflow: hidden;
		position: relative;
	}
	.galeria .carousel-galeria img{
		position: absolute;
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%,-50%);
		-ms-transform: translate(-50%,-50%);
		transform: translate(-50%,-50%);
		width: 100%;
	}

}

/* CAMBIOS RECIENTES */

.publi-frase-css {
	padding: 40px 60px 40px 60px !important;
}

.csColumn p {
	text-align: left !important;
}

@media (min-width: 640px){
	.inicio .intro-box-xs {
		width: 700px;
		margin: 0 auto;
		float: none;
	}

	.logolan img {
		width:  181px;
		height:  auto;
	}

	.menu-expanded .content {
		height: 100vh;
		width: 100%;
		background: #215b96;
	}

	.menu-expanded .content .bg {
		width: 960px;
		margin: 0 auto;
	}

	.footer {
		height: auto;
	}

	.footer p {
		clear: both;
		margin: 0;
		padding: 11px 0;
		color: #4b77a4;
		font-family: 'Arial';
		text-align: center;
		font-size: 14px;
	}

	.page-galeria .contenido {
		display: table;
		margin: 41px 0 0 0;
	}

	.page-galeria .contenido .left {
		display: table-cell;
		vertical-align: top;
		float: none;
	}

	.page-galeria .contenido .right {
		display: table-cell;
		float: none;
		padding-bottom: 80px;
	}

	.popup-galeria .galeria .controls .counter {
		float: right;
		display: inline-block;
		margin: 0 120px 0 0;
		font-family: 'Open Sans', sans-serif;
		font-size: 22px;
		color: #FFF;
		text-align: right;
		line-height: 50px;
	}
}

@media (max-width: 639px){
	.logolan img {
		width: 137px;
		height:  auto;
	}

	.publi-frase-css {
		padding: 30px 21px 30px 21px !important;
	}
}


