/** Generated @ www.fontreactor.com **/
@font-face {
	font-family: 'LatamSans-Regular';
    src: url('original_Latam_Sans_Regular.eot?#iefix') format('embedded-opentype'), 
         url('original_Latam_Sans_Regular.woff') format('woff'),
         url('original_Latam_Sans_Regular.ttf') format('truetype'),
         url('original_Latam_Sans_Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}